@mixin css-rotate ($rotation) {
  -ms-transform: rotate($rotation); /* IE 9 */
  -webkit-transform: rotate($rotation); /* Chrome, Safari, Opera */
  transform: rotate($rotation);
}

@mixin css-background-size ($time) {
  transition: background-size $time ease-in;
  -moz-transition: background-size $time ease-in;
  -ms-transition: background-size $time ease-in;
  -o-transition: background-size $time ease-in;
  -webkit-transition: background-size $time ease-in;
}

@mixin radial-bg ($color) {
  background: radial-gradient($color 50%, rgba(0, 0, 0, 0) 70%);
}

body, html{
  height:100%;
  overflow: hidden;
}
body{
  margin: 0;
  background-color: white;
  font-size: 18px;
  background-image: url('images/us-flag.gif');
  background-repeat: repeat;
}
body, a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif;
}
.title, .addDancerButton {
  padding:5px 12px;
  float:right;
}
.topbar {
  height:34px;
  background-color: #256EB6;
  z-index: 9999;
  position: relative;
  .title, a {
    font-weight: bold;
    text-shadow: #333 1px 1px 1px;
  }
  .title {
    font-size: 16px;
    float: left;
    padding-top: 8px;
    font-family: Georgia, serif;
    .us-flag {
      background-image: url('images/us-flag-2.gif');
      background-repeat: no-repeat;
      background-position: 110% 110%;
      width: 22px;
      height: 22px;
      margin: -5px 4px 0;
      background-size: contain;
      display: inline-block;
    }
  }
  a {
    padding: 9px;
    text-transform: uppercase;
    border: solid 1px #256EB6;
    box-shadow: inset rgba(0,0,0,0.35) 0px 0px 5px;
    display: inline-block;
    margin: 0;
    &.active {
      background-color:white;
      color:#256EB6;
    }
  }

}
.dancer{
/*  border:10px solid red;
  border-radius:10px;*/
  position:absolute;
  width: 200px;
  height: 200px;

  .background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    &.glow{
      @include radial-bg(blue);
    }
    &.image{
      z-index: 2;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &.tip-left {
    @include css-rotate(-15deg);
  }

  &.ronald {
    color: white;
  }

  &.george-dancer {
    @include css-rotate(-20deg);
    &.left-right {
      @include css-rotate(20deg);
    }
    .background {
      &.glow{
        @include radial-bg(yellow);
      }
    }
  }

  &.barack-dancer {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    @include css-background-size(500ms);
    &.big-small {
      background-size: 50%;
      @include css-background-size(500ms);
    }
    .background {
      &.glow{
        @include radial-bg(purple);
      }
    }
  }

  &.abraham-dancer {
    .background {
      &.glow{
        @include radial-bg(green);
      }
    }
  }
  &.shy-dancer {
    .background {
      &.glow{
        @include radial-bg(pink);
      }
    }
  }
}

.shy-dancer {
  background-repeat: no-repeat;
  height:40px;
  width:35px;
  padding:15px;
  background-position: center center;
  background-size: contain;
  opacity: 0.6;
}
