body, html {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  background-color: white;
  font-size: 18px;
  background-image: url('images/us-flag.gif');
  background-repeat: repeat; }

body, a:link, a:visited, a:active {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: sans-serif; }

.title, .addDancerButton {
  padding: 5px 12px;
  float: right; }

.topbar {
  height: 34px;
  background-color: #256EB6;
  z-index: 9999;
  position: relative; }
  .topbar .title, .topbar a {
    font-weight: bold;
    text-shadow: #333 1px 1px 1px; }
  .topbar .title {
    font-size: 16px;
    float: left;
    padding-top: 8px;
    font-family: Georgia, serif; }
    .topbar .title .us-flag {
      background-image: url('images/us-flag-2.gif');
      background-repeat: no-repeat;
      background-position: 110% 110%;
      width: 22px;
      height: 22px;
      margin: -5px 4px 0;
      background-size: contain;
      display: inline-block; }
  .topbar a {
    padding: 9px;
    text-transform: uppercase;
    border: solid 1px #256EB6;
    box-shadow: inset rgba(0, 0, 0, 0.35) 0px 0px 5px;
    display: inline-block;
    margin: 0; }
    .topbar a.active {
      background-color: white;
      color: #256EB6; }

.dancer {
  /*  border:10px solid red;
  border-radius:10px;*/
  position: absolute;
  width: 200px;
  height: 200px; }
  .dancer .background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0; }
    .dancer .background.glow {
      background: radial-gradient(blue 50%, rgba(0, 0, 0, 0) 70%); }
    .dancer .background.image {
      z-index: 2;
      background-size: contain;
      background-repeat: no-repeat; }
  .dancer.tip-left {
    -ms-transform: rotate(-15deg);
    /* IE 9 */
    -webkit-transform: rotate(-15deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-15deg); }
  .dancer.ronald {
    color: white; }
  .dancer.george-dancer {
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    -webkit-transform: rotate(-20deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-20deg); }
    .dancer.george-dancer.left-right {
      -ms-transform: rotate(20deg);
      /* IE 9 */
      -webkit-transform: rotate(20deg);
      /* Chrome, Safari, Opera */
      transform: rotate(20deg); }
    .dancer.george-dancer .background.glow {
      background: radial-gradient(yellow 50%, rgba(0, 0, 0, 0) 70%); }
  .dancer.barack-dancer {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-size 500ms ease-in;
    -moz-transition: background-size 500ms ease-in;
    -ms-transition: background-size 500ms ease-in;
    -o-transition: background-size 500ms ease-in;
    -webkit-transition: background-size 500ms ease-in; }
    .dancer.barack-dancer.big-small {
      background-size: 50%;
      transition: background-size 500ms ease-in;
      -moz-transition: background-size 500ms ease-in;
      -ms-transition: background-size 500ms ease-in;
      -o-transition: background-size 500ms ease-in;
      -webkit-transition: background-size 500ms ease-in; }
    .dancer.barack-dancer .background.glow {
      background: radial-gradient(purple 50%, rgba(0, 0, 0, 0) 70%); }
  .dancer.abraham-dancer .background.glow {
    background: radial-gradient(green 50%, rgba(0, 0, 0, 0) 70%); }
  .dancer.shy-dancer .background.glow {
    background: radial-gradient(pink 50%, rgba(0, 0, 0, 0) 70%); }

.shy-dancer {
  background-repeat: no-repeat;
  height: 40px;
  width: 35px;
  padding: 15px;
  background-position: center center;
  background-size: contain;
  opacity: 0.6; }
